##This set of questions will help in understanding operators and variables in Python

# **Question 1**

A travel company wants to fly a plane to the Bahamas. Flying the plane costs 5000 dollars. So far, 29 people have signed up for the trip. If the company charges 200 dollars per ticket, what is the profit made by the company?

Fill in values or arithmetic expressions for the variables below.

In [ ]:
cost_of_flying_plane = 5000
number_of_passengers = 29
price_of_ticket = 200
profit = (number_of_passengers * price_of_ticket) - cost_of_flying_plane
print(profit)

800

# **Question 2**

Suppose you have $100, which you can invest with a 10% return each year. After one year, it's  100 X 1.1 = 110 dollars, and after two years it's 100 X 1.1 X 1.1 = 121. 

Add code to calculate how much money you end up with after 10 years, and print the result.

In [ ]:
initial_amount = 100
interest_rate = 1.1

result = 100*(1.1**10)
print(result)

259.3742460100002

# **Question 3**

The user is employable if his age is between 20 and 60.  

Given the user's age

Write an expression that evaluates the condition of his employability

In [ ]:
age = 39  # take the age value as 39

Save the expression you have written above in a variable, employability and print to check the output.

In [ ]:
n=int(input("enter a number"))
if n>19 & n<61:
  print("User is employable")

enter a number25
User is employable

# **Question 4**

Given a number in a variable num

Write an expression that evaluates to True when num is equal to 5 or 6 or 7.

In [ ]:
#check for 7
num = 7
(num== 5 or 6 or 7)<10

True

In [ ]:
# check for 9
num = 9
(num== 5 or 6 or 7)>10

False

# **Question 5**

Given a five digit number in a variable 'num'. Print the digits at it ones, tens , hundreds, thousands and ten thousands place digit in the five digit number. 

For eg. when num = 59682

then the final output should look like.

Digit at ones place - 2<br>
Digit at tens place - 8<br>
Digit at hundreds place - 6<br>
Digit at thousands place - 9<br>
Digit at ten thousands place - 5<br>

Write the code only for five digits.

In [ ]:
num = 59682

print("Digit at ones place: ", 59682%10)
print("Digit at tens place: ", 5968%10)
print("Digit at hundreds place: ", 596%10)
print("Digit at thousands place: ", 59%10)
print("Digit at ten thousands place: ", 5%10)

Digit at ones place:  2
Digit at tens place:  8
Digit at hundreds place:  6
Digit at thousands place:  9
Digit at ten thousands place:  5